* {
	margin: 0;
	padding: 0;
	transition: all .4s;
}
:root {
  font-size: calc(1vw + 1vh + .5vmin); 
}
body {
	font-weight: 400;
	font-size: 1em/1.6;
	font-family: 'Montserrat', sans-serif;
	
}
.wrapper {
	max-width: 90vw;
	width: 100%;
	display: flex;
	margin: 0 auto;
}
.left-section {
	background: #f1f1f1;
    padding: 0 3% 5% 4%;
}
.header-hidden {
	display: none;
}
.photo {
	background-image: url(../img/photo/photo_min.png);
	background-size: cover;
	width: 10em;
    height: 10em;
    margin: 5em auto 1em;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 4px 4px 4px lightgrey;
}
.photo:hover {
	filter: brightness(0.7);
}
.name {
	font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    margin: 0 0 20%;
}
.target, .objective, .contacts, .prof-skills, .portfolios, .projects, .education, .trainings, .expierience {
	display: flex;
	height: 35px;
}
.icon {
	width: 35px;
    margin: 0 3% 0 0;
}
h2 {
	font-size: .9em;
    align-self: center;
}
.description-left, .contactsinner {
	text-align: justify;
    color: #443f3f;
	margin: 5% 0;
	font-size: .8em;
}
.skill-list li {
	list-style: none;
	margin: 0 0 3% 0;
}
.conico {
    width: 1.2em;
}
.contactsinner table, .edu-list table, .trainings-list table, .expierience-list table {
	border-collapse: separate;
	border-spacing: 10px
}
.contactsinner a, .lang-panel a {
	text-decoration: none;
	color: #7a7a7a;
    text-shadow: grey 2px 2px 4px;
}
.rightcon {
	vertical-align: baseline;
}
.right-section {
	 padding: 0 3% 5% 4%;
}
.lang-panel {
	list-style: none;
	font-size: .7em;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 5% 0;
}
.lang-panel li {
	margin: 2%;
}
.skills-detailed table {
	width: 100%;
}
.progress {
  width: 100%;
  vertical-align: middle;
}
progress {
  background-color: #f3f3f3;
  border: 0;
  height: 14px;
  border-radius: 9px;
}

progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 14px;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: #858585;
  border: 0;
  height: 14px;
  border-radius: 9px;
}
progress::-moz-progress-bar {
  background-color: #f3f3f3;
  border: 0;
  height: 14px;
  border-radius: 9px;
}
.lefttd {
	width: 50%;
	font-size: .7em;
}
.righttd {
	text-align: right;
	width: 45%;
	padding-right: 0px;
	padding-bottom: 3px;
}
.portfolios-list, .projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    align-content: space-between;

}
.portfolio-item, .projects-item  {
    width: 28%;
    padding: 2%;
	border: 1px solid #b3a5a5;
    box-shadow: 2px 2px 2px #ccc;
	margin: 0 0 2% 0;
}
.projects-item {
	width: 45%;
}
.portfolio-item:hover, .projects-item:hover {
	box-shadow: 4px 4px 4px #7b7777;
}
.ico {
	
	background-size: cover;
    width: 100%;
    height: 5em;
    margin: 0 0 5%;
    box-shadow: 4px 4px 4px #ccc;
}
.ico:hover, h3:hover {
	opacity: 0.8;
}
.port1 {
	background-image: url(../img/ico-1.png);
}
.port2 {
	background-image: url(../img/ico-2.png);
}
.port3 {
	background-image: url(../img/ico-3.png);
}
.port4 {
	background-image: url(../img/ico-4.png);
}
.port5 {
	background-image: url(../img/ico-5.png);
}
.proj1 {
	background-image: url(../img/pro-1.png);
}
.proj2 {
	background-image: url(../img/pro-2.png);
}
.proj3 {
	background-image: url(../img/pro-3.png);
}
.proj4 {
	background-image: url(../img/pro-4.png);
}
.proj5 {
	background-image: url(../img/pro-5.png);
}
.proj6 {
	background-image: url(../img/pro-6.png);
}
.portfolio-item h3, .projects-item h3 {
	font-size: .8em;
	text-align: center;
    text-shadow: 2px 2px 4px grey;
    word-wrap: break-word;
}
.portfolio-item p, .projects-item p {
    text-align: justify;
    font-size: .8em;
    margin: 5% 0 0 0;
    word-wrap: break-word;
}
.skills-detailed, .edu-list, .trainings-list, .expierience-list, .portfolios-list, .projects-list {
	margin: 5% auto;
}
.leftexp, .leftedu {
	width: 20%;
	font-weight: 900;
	vertical-align: top;
    font-size: medium;
}
.rightedu p {
    font-size: medium;
}
.rightedu {
	font-size: .9em;

}
.leftedu {
		padding: 2% 0 0 0;
}
.rightexp, .rightexp2, a {
    text-decoration: none;
    color: inherit;
    text-shadow: grey 2px 2px 4px;
}
.rightexp:hover, .rightexp2:hover, a:hover {
	text-shadow: 4px 4px 4px #7b7777;
}
.rightexp {
	font-weight: 600;
}
.rightexp2 p {
	font-size: medium;
	margin: 1% 0 0 0;
}

@media (max-width: 768px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.left-section, .right-section {
		background: #fff;
	    padding: 1% 8% 1% 10%;
	}
	.header-hidden {
		display: block;
	}
	.lang-panel {
		font-size: 1.5em;
	}
	.photo {
	    width: 15em;
	    height: 15em;
	    margin: 1em auto 1em;
	}
	.name {
	    font-size: 2.5em;
	    margin: 0 0 5%;
	}
	h2 {
		font-size: 1.8em;
	}
	.description-left {
		font-size: 1.5em;
	}
	.conico {
   	 width: 1.5em;
	}
	.contactsinner a {
		font-size: 1.5em;
	}
	.max {
		display: none;
	}
	.ico {
	    height: 13em;
	}
	.lefttd {
    	font-size: 1.2em;
	}
	.portfolio-item, .projects-item {
    	width: 45%;
	}
	.portfolio-item h3, .projects-item h3 {
    	font-size: 1.3em;
	}
	.portfolio-item p, .projects-item p {
	    font-size: 1.2em;
	}
	.rightedu {
	    font-size: 1.7em;
	}
	.rightexp {
	    font-size: 1.7em;
	}
	.rightexp2 {
		font-size: 1.5em;
	}
}
