* {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #e9e9e9;
	width: 100%;
	padding: 2% 0 5%;
}
.header-wrapper {
	max-width: 1145px;
	width: 90%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.header-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-nav>a {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.header-nav img {
	width: 50px;
}
.header-nav nav {
	width: 50%;
}
.main-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
}
.main-menu a, .smart-menu a {
	text-transform: uppercase;
	text-decoration: none;
	color: #191919;
	font-size: 12px;
}
.main-menu a:hover, .smart-menu a:hover {
	opacity: 0.5;
}
.header-title {
	width: 45%;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	color: #787878;
	font-size: 18px;
}
h1 {
	font-size: 38px;
	color: #1d1d1d;
	font-weight: 700;
	margin: 15% 0 30px;
}
.header-title p {
	margin: 0 0 35px;
	line-height: 2em;
}
.header-title a {
	background: #10c9c3;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 100;
	line-height: 55px;
	width: 180px;
	height: 55px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.header-title a:hover, input.mail-button:hover {
	-webkit-box-shadow: 0 0 6px #000;
	box-shadow: 0 0 6px #000;
    font-size: 14px;
}
.about {
	max-width: 630px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 90px 0;
}
.about h2, .work-process h2 {
	color: #191919;
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 35px;
}
.about p {
	font-size: 16px;
	color: #787878;
	line-height: 2em;
	margin: 0 0 35px;
}
.skills {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.skills-content-wrapper {
	background: #f8f9f9;
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 100px 0;
}
.skills-content {
	max-width: 500px;
	width: 100%;
}
.skills-img {
	width: 50%;
	background: url(../img/services-1.jpg), no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.skills h2 {
	color: #171717;
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 35px;
}
.skills h3 {
	color: #000;
	font-size: 12px;
	margin: 0 0 15px;
	font-weight: 600;
	text-transform: uppercase;
}
.progress {
	width: 70%;
	margin: 0 0 35px;
}
progress {
	background-color: #d8d8d8;
	border: 0;
	height: 3px;
}

progress::-webkit-progress-bar {
	background-color: #d8d8d8;
	border: 0;
	height: 3px;
}
progress::-webkit-progress-value {
	background-color: #10c9c3;
	border: 0;
	height: 3px;
}
progress::-moz-progress-bar {
	background-color: #d8d8d8;
	border: 0;
	height: 3px;
}
.proof {
	width: 100%;
	background: #10c9c3;
}
.proof-wrapper, .services-wrapper {
	max-width: 1145px;
	width: 90%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 95px 0;
}
.proof-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.proof-item img {
	margin: 0 25px 0 0;
}
.proof h4, .proof p {
	color: #fff;
	font-weight: 100;
	font-size: 18px;
}
.proof p {
	font-size: 12px;
	line-height: 2em;
}
.works {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #f5f5f5;
	color: #8e8e8e;
	font-size: 12px;
	text-align: center;
}
.works-item {
	width: 25%;
	height: 20vw;
}
.works-item a {
	display: none;
}
.works-item:hover {
	background: #2f4f4f;
}
.works-item:hover h4 {
	display: none;
}
.works-item:hover a {
	display: block;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    color: #fff;
}
.works-item h4 {
	position: relative;
    top: 90%;
    text-align: right;
    margin: 0 5% 0;
    color: darkcyan;
    text-shadow: 0 0 1px #ccc;
}
.item1 {
	background: url(../img/services-4.jpg) 0% 0%;
}
.item2 {
	background: url(../img/services-4.jpg) 99% 0%;
}
.item3 {
	background: url(../img/services-4.jpg) 0% 50%;
}
.item4 {
	background: url(../img/services-4.jpg) 100% 40%;
}
.item5 {
	background: url(../img/services-4.jpg) 80% 38%;
}
.item6 {
	background: url(../img/services-4.jpg) 25% 0%;
}
.item7 {
	background: url(../img/services-4.jpg) 67% 0%;
}
.item8 {
	background: url(../img/services-4.jpg) 47% 85%;
}
.works > a {
	height: 100px;
	text-transform: uppercase;
	width: 100%;
	line-height: 100px;
}
.works > a:hover {
	text-shadow: 0 0 10px;
}
.work-process {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0;
}
.work-process p {
	width: 60%;
	margin: 0 auto 55px;
	font-size: 16px;
	color: #787878;
}
.works a {
	text-decoration: none;
	color: #787878;
}
video {
	background: #e9e9e9;
}
.services {
	background: #f5f5f5;
}
.services-wrapper {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1024px;
	padding: 95px 0 45px;
}
.services-item {
	width: 22%;
	text-align: center;
	margin: 0 0 50px;
}
.services h4 {
	color: #191919;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 25px 0 15px;
}
.services p, .contacts p {
	color: #787878;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	line-height: 1.5em;
}
.slide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #10c9c3;
	margin: 0 auto;
}
.sSlider div>p {
	width: 50%;
}
.clients {
	max-width: 1024px;
	width: 90%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	padding: 60px 0;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.contacts {
	background: #f5f5f5;
}
.contacts-wrapper {
	max-width: 750px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 95px 0;
}
.contacts h2 {
	font-size: 30px;
	font-weight: 600;
	color: #1d1d1d;
	margin: 0 0 35px;
}
.contacts form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 35px 0 0;
}
.contacts input {
	margin: 0 0 27px;
	height: 48px;
	padding: 0 0 0 1%;
}
.input-name, .input-mail {
	width: 46%;
}
.input-title, .input-description {
	width: 99%;
}
input.mail-button {
	background: #10c9c3;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	max-width: 198px;
	width: 90%;
	font-weight: 100;
	margin: 0 auto;
}
footer {
	width: 100%;
	background: #141414;
	padding: 95px 0;
	color: #fff;
}
.footer-wrapper {
	max-width: 1145px;
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.copy {
	width: 20%;
}
.copy h2 {
	font-size: 18px;
	
}
.copy p {
	font-size: 15px;
	color: #bcbcbc;
	font-family: 'Nunito', sans-serif;
	line-height: 1.5em;
	margin: 25px 0 0;
}
.contacts-info a, .site-map a, .social a {
	display: block;
	text-decoration: none;
	color: #bcbcbc;
	font-family: 'Nunito', sans-serif;
	line-height: 1.5em;
}
.site-map {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	width: 20%;
}
.contacts-info {
	width: 40%;
	text-align: center;
}
.sandw {
	display: none;
}
.smart-menu {
	display: none;
} 
footer a:hover {
	opacity: 0.5;
}
@media screen and (max-width: 1024px) {
	.header-nav nav {
		width: 80%;
	}
	.header-title {
		width: 55%;
	}
	.skills-content {

		width: 90%;
	}
	.proof-wrapper {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 45px 0;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.proof-item {
		width: 45%;
		margin: 0 0 3%;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: x-large;
	}
}
@media screen and (max-width: 768px) {
	.header-title {
		width: 75%;
		font-size: x-large;
		line-height: 1em;
	}
	.sandw {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.main-menu {
		display: none;
	}
	.sandw div {
		width: 40px;
		height: 4px;
		background: #000;
		margin: 0 0 1%;
	}
	.sandw:hover ul, .sandw:active ul, .sandw:focus ul {
		display: block;
	}
	h1 {
		line-height: 1em;
	}
	.about p {
		width: 90%;
		margin: 0 auto;
	}
	.skills-img {
		display: none;
	}
	.skills-content-wrapper {
		width: 100%;
	}
	.works-item {
		width: 50%;
		height: 30vw;
	}
	.services-item {
		width: 43%;
	}
	.slide img:first-child {
		display: none;
	}
	.sSlider div>p {
		width: 80%;
		text-align: center;
	}
	.clients img {
		margin: 0 0 3%;
	}
	.footer-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.copy {
		width: 100%; 
		margin: 0 auto;
		text-align: center;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.contacts-info {
		width: 100%;
		margin: 0 0 3%;
	}
	.site-map {
		width: 40%;
		margin: 0 auto 3%;
		text-align: center;
	}
	.social {
		text-align: center;
		margin: 0 0 3%;
	}
}
@media screen and (max-width: 480px) {
	.header-title {
		width: 90%;
		
	}
	.proof-item {
		width: 85%;
		font-size: x-large;
	}
	.works-item {
		width: 100%;
		height: 50vw;
	}
	.services-item {
		width: 93%;
	}
	.input-name, .input-mail {
		width: 100%;
	}
	.site-map {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}