.header-figure {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
h1 {
	margin: 0;
}
.logo span {
	display: block;
	font-size: .8em;
	margin: 3.5% 0 0 0;
	cursor: pointer;
	color: #cfd0cd;
}
.logo span:hover {
	opacity: .5;
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}
.slide1 {
	background: url(../img/slideshow/slide1.jpg)
}
.slide2 {
	background: url(../img/slideshow/slide2.jpg)
}
.slide3 {
	background: url(../img/slideshow/slide3.jpg)
}
.portfolio-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.experience span {
	font-weight: 900;
	font-size: 1.2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.position {
	font-size: 1.1em;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
.job {
	font-weight: 700;
}
.duties-title {
	margin: 0;
}
.duties {
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
}
#base ul.menu a {
	padding: 0px 5px 0;
}
#base ul.menu a:before {
	top: 2px;
    left: 41px;
}